<!DOCTYPE html>
<html>
<head>
    <title>Administrator Dashboard</title>
    <style>
        .logout-btn {
            padding: 4px 12px;
            background-color: #f44336;
            color: white;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            // Hide all forms initially
            $('form').hide();
          
            // Show the selected form when a button is clicked
            $('button[data-action-url]').click(function() {
              var formId = $(this).data('form');
              $('form').hide();
              $('#' + formId).show();
          
              // Update the form action URL
              var formAction = $(this).data('action-url');
              var selectedClientId = $('input[name="selected_client"]:checked').val();
              if (formId === "company_create") {
                var formActionUrl = new URL(formAction, window.location.href); // Use the current URL as the base URL
                formActionUrl.searchParams.set('selected_client', selectedClientId);
                formAction = formActionUrl.toString();
              }
          
              var selectedCompanyId = $('input[name="selected_company"]:checked').val();
              if (formId === "subscription_create") {
                var formActionUrl = new URL(formAction, window.location.href); // Use the current URL as the base URL
                formActionUrl.searchParams.set('selected_company', selectedCompanyId);
                formAction = formActionUrl.toString();
              }
          
              $('#' + formId).attr('action', formAction);
            });
          
            // Submit the form when a button is clicked
            $('button[data-form]').click(function() {
              var formId = $(this).data('form');
              $('#' + formId).submit();
            });
          
            // Update Company list when client is selected
            $('input[name="selected_client"]').change(function() {
              var selectedClientId = $(this).val();
              updateCompanyList(selectedClientId);
            });
          
            // Function to update the company list dynamically
            function updateCompanyList(selectedClientId) {
              $.ajax({
                url: '{% url "fetch_companies" %}',
                data: {'selected_client_id': selectedClientId},
                dataType: 'json',
                success: function(response) {
                  var companyList = $('#company-list');
                  companyList.empty();
                  $.each(response, function(index, company) {
                    var listItem = $('<li>');
                    var radioButton = $('<input type="radio" name="selected_company">').val(company.id);
                    var companyName = $('<span>').text(company.name);
                    listItem.append(radioButton);
                    listItem.append(" ");
                    listItem.append(companyName);
                    companyList.append(listItem);
                  });
          
                  // Trigger click event for the initially selected company radio button
                  $('#company-list li:first-child input[name="selected_company"]').click();
                },
                error: function(xhr, status, error) {
                  console.error(xhr.responseText);
                }
              });
            }
          
            // Update Subscription list when company is selected
            $('#company-list').on('click', 'input[name="selected_company"]', function() {
              var selectedCompanyId = $(this).val();
              updateSubscriptionList(selectedCompanyId);
            });

            // Function to format the date in local date format (YYYY-MM-DD)
            function formatDate(dateStr) {
                var date = new Date(dateStr);
                return date.toLocaleDateString();
              }

            // Function to update the subscription list dynamically
            function updateSubscriptionList(selectedCompanyId) {
              $.ajax({
                url: '{% url "fetch_subscriptions" %}',
                data: {'selected_company_id': selectedCompanyId},
                dataType: 'json',
                success: function(response) {
                  var subscriptionList = $('#subscription-list');
                  subscriptionList.empty();
                  $.each(response, function(index, subscription) {
                    var listItem = $('<li>');
                    var radioButton = $('<input type="radio" name="selected_subscription">').val(subscription.id);
                    var startDate = $('<span>').text(formatDate(subscription.startdate));
                    var stopDate = $('<span>').text(formatDate(subscription.stopdate));
                    var isActive = $('<span>').text(subscription.isactive ? 'Active' : '');
                    listItem.append(radioButton);
                    listItem.append(" ");
                    listItem.append(startDate);
                    listItem.append('&emsp;');
                    listItem.append(stopDate);
                    listItem.append('&emsp;');
                    listItem.append(isActive);
                    subscriptionList.append(listItem);
                  });
                },
                error: function(xhr, status, error) {
                  console.error(xhr.responseText);
                }
              });
            }
          
            // Initially trigger the event handlers for the selected client and company
            $('input[name="selected_client"]:checked').change();
            $('input[name="selected_company"]:checked').change();
            // Trigger click event for the initially selected client radio button
            $('input[name="selected_client"]:checked').closest('li').click();

          });
          
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm text-white bg-info navbar-fixed-top py-1">
        <div class="container-fluid">
            <nav class="navbar">
                <span class="navbar-brand text-white bg-info h1" style="font-weight:bold;">Wagemaster</span>
            </nav>
            <span class="navbar-text text-white bg-info h5" style="margin-left:-100px; font-weight:bold;">Administrator Dashboard</span>
            
            <ul class="nav navbar-nav">
                <li><a class="btn btn-sm btn-danger" type="button" href="{% url 'home' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <!-- Client List -->
                <div style = "margin-top: 20px; font-weight:bold;">
                  <h7>Clients</h7>
                </div>
                <div class="overflow-auto p-3 bg-light" style="max-width: 90%; max-height: 90%px; margin-top: -10px;">
                    {% csrf_token %}
                    <ul class="list-unstyled">
                        {% for client in clients %}
                            <li>
                                <input type="radio" name="selected_client" value="{{ client.ClientIdentity }}"
                                    {% if client.ClientIdentity == initial_client_id %}checked{% endif %}>
                                {{ client.ClientName }}
                            </li>
                        {% empty %}
                            <li>No clients available.</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Buttons to create, edit, and delete Clients -->
                <div>
                    <button type="button" data-form="create_client" data-action-url="{% url 'create_client' %}" class="btn btn-primary btn-sm" style="margin-top: 10px;">New Client</button>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- Company List -->
                <div style = "margin-top: 20px; font-weight:bold;">
                  <h7>Client companies</h7>
                </div>
                <div class="overflow-auto p-3 bg-light" style="max-width: 90%; max-height: 25%;">
                    <ul class="list-unstyled" id="company-list" style="font-size:14px;">
                        <!-- The company list will be dynamically populated here -->
                    </ul>
                </div>
                <!-- Buttons to create, edit, and delete Companies -->
                <div>
                    <button type="button" data-form="company_create" data-action-url="{% url 'company_create' %}?selected_client={{ client.ClientIdentity }}" class="btn btn-primary btn-sm" style="margin-top: 10px;">New Company</button>
                </div>
                <!-- Subscription List -->
                <div style = "margin-top: 20px; font-weight:bold;">
                  <h7>Subscriptions</h7>
                </div>
                <div class="overflow-auto p-3 bg-light" style="max-width: 90%; max-height: 25%;">
                  <div style="font-size:14px;">
                    &emsp;&nbsp;From&emsp;&emsp;&emsp;&emsp;To&emsp;&emsp;&emsp;&emsp;&emsp;Status
                    
                    <ul class="list-unstyled" id="subscription-list">
                        <!-- The subscription list will be dynamically populated here -->
                    </ul>
                  </div>
                </div>
                <!-- Buttons to create, edit, and delete Subscriptions -->
                <div>
                  <button type="button" data-form="subscription_create" data-action-url="{% url 'subscription_create' %}?selected_company={{ company.CompanyIdentity }}" class="btn btn-primary btn-sm" style="margin-top: 10px;">New Subscription</button>
                </div>
                <div>
                  <!-- Create Client Form -->
                  <form method="post" action="{% url 'create_client' %}" id="create_client">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" hidden>Create</button>
                  </form>

                  <!-- Create Company Form -->
                  <form method="post" action="{% url 'company_create' %}" id="company_create">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" hidden>Create</button>
                  </form>

                  <!-- Create Subscription Form -->
                  <form method="post" action="{% url 'subscription_create' %}" id="subscription_create">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" hidden>Create</button>
                  </form>
                </div>  
            </div> <!-- 2nd col -->  
            <div class="col-sm-4">
                <!-- Divisions/Databases list -->
                <div style = "margin-top: 20px; font-weight:bold;">
                  <h7>Divisions/Databases</h7>
                </div>
                <div class="overflow-auto p-3 bg-light" style="max-width: 90%; max-height: 15%;">
                  <div style="font-size:14px;">
                               
                    <ul class="list-unstyled" id="divisions-list">
                      {% for division in divisions %}
                          <li>{{ division.DivisionName }}</li>
                      {% empty %}
                          <li>No divisions found.</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <!-- Employees list -->
                <div style = "margin-top: 20px; font-weight:bold;">
                  <h7>Employees</h7>
                </div>
                <div class="overflow-auto p-3 bg-light" style="max-width: 90%; max-height: 65%;">
                  <div style="font-size:14px;">
                               
                    <ul class="list-unstyled" id="employees-list">
                      {% for employee in employees %}
                          <li>{{ employee.StaffNo }}&emsp;</li>
                          <li>{{ employee.StaffName }}</li>
                      {% empty %}
                          <li>No employees found.</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
            </div> <!-- 3rd col -->
        </div> <!-- row -->
    </div> <!-- container -->
</body>
</html>
