<!DOCTYPE html>
<html>
<head>
    <title>Client Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ client.user.username }}</h2>
    <h3>Client Details:</h3>
    <p>Company Name: {{ client.company_name }}</p>
    <p>Telephone: {{ client.tel }}</p>
    <p>Contact Person: {{ client.contact_person }}</p>

    <h3>Companies:</h3>
    <ul>
        {% for company in companies %}
            <li>{{ company.CompanyName }}</li>
        {% empty %}
            <li>No companies found.</li>
        {% endfor %}
    </ul>

    <h3>Subscriptions:</h3>
    <ul>
        {% for subscription in subscriptions %}
            <li>Subscription ID: {{ subscription.SubscriptionID }}</li>
            <li>Start Date: {{ subscription.SubscriptionStartDate }}</li>
            <li>End Date: {{ subscription.SubscriptionEndDate }}</li>
            <br>
        {% empty %}
            <li>No subscriptions found.</li>
        {% endfor %}
    </ul>
</body>
</html>
