{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Company Details</h2>
    <a href="{% url 'company_list' %}" class="btn btn-primary btn-sm">Back</a>
  </div>
  <div class="form-group">
    <label for="CompanyName">Company name:</label>
    <input type="text" class="form-control form-control-sm" id="CompanyName" name="CompanyName" value="{{ company.CompanyName }}" required readonly>
  </div>
  <div class="form-group">
    <label for="CompanyEmail">Email:</label>
    <input type="email" class="form-control form-control-sm" id="CompanyEmail" name="CompanyEmail" value="{{ company.CompanyEmail }}" required readonly>
  </div>
  <div class="form-group mb-2">
    <label for="CompanyTel">Phone:</label>
    <input type="tel" class="form-control form-control-sm" id="CompanyTel" name="CompanyTel" value="{{ company.CompanyTel }}" required readonly>
  </div>
  <div class="form-group mb-2">
    <label for="CompanyContactPerson">Contact person:</label>
    <input type="text" class="form-control form-control-sm" id="CompanyContactPerson" name="CompanyContactPerson" value="{{ company.CompanyContactPerson }}" required readonly>
  </div>
{% endblock %}
