{% extends 'base-leaveAdmin.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Create Company</h2>
  </div>
  <form method="post" action="{% url 'company_create' %}?selected_client={{ selected_client_id }}">
    {% csrf_token %}
    <input type="hidden" name="selected_client" value="{{ selected_client_id }}">
    <!-- ClientIdentity combobox -->
    <div class="form-group row">
      <label for="id_ClientIdentity" class="col-sm-3 col-form-label">
        Client:
      </label>
      <div class="col-sm-7">
        <select class="form-control" id="id_ClientIdentity" name="{{ form.ClientIdentity.name }}" disabled>
          <option value="{{ client.ClientIdentity }}" selected>
            {{ client.ClientName }}
          </option>
        </select>
      </div>
    </div>
    <!-- CompanyName -->
    <div class="form-group row">
      <label for="id_CompanyName" class="col-sm-3 col-form-label">
        Company name:
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Required" id="id_CompanyName" name="{{ form.CompanyName.name }}" style="height: 40px;">
      </div>
    </div>
    <!-- CompanyEmail -->
    <div class="form-group row">
      <label for="id_CompanyEmail" class="col-sm-3 col-form-label">
        Email:
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Required" id="id_CompanyEmail" name="{{ form.CompanyEmail.name }}" style="height: 40px;">
      </div>
    </div>
    <!-- CompanyContactPerson -->
    <div class="form-group row">
      <label for="id_CompanyContactPerson" class="col-sm-3 col-form-label">
        Contact Person:
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Required" id="id_CompanyContactPerson" name="{{ form.CompanyContactPerson.name }}" style="height: 40px;">
      </div>
    </div>
    <!-- CompanyTel -->
    <div class="form-group row">
      <label for="id_CompanyTel" class="col-sm-3 col-form-label">
        Tel:
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Required" id="id_CompanyTel" name="{{ form.CompanyTel.name }}" style="height: 40px;">
      </div>
    </div>
    <!-- CompanyKey -->
    <div class="form-group row">
      <label for="id_CompanyKey" class="col-sm-3 col-form-label">
        Company Key:
      </label>
      <div class="col-sm-7">
        <input type="text" required value="n/a" class="form-control" placeholder="Required" id="id_CompanyKey" name="{{ form.CompanyKey.name }}" style="height: 40px;">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2" style="margin-top: 20px;">
        <a href="{% url 'administrator_dashboard' %}?selected_client={{ selected_client_id }}&selected_company={{ selected_company_id }}" class="btn btn-danger btn-sm">Back</a>
        <button type="submit" class="btn btn-primary btn-sm">Create</button>
      </div>
    </div>
  </form>
{% endblock %}
