<!DOCTYPE html>
<html>
<head>
    <title>Administrator Dashboard</title>
    <style>
        .my-custom-row {
            font-size: 0.8rem; /* Adjust the size as needed */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm text-white bg-info navbar-fixed-top py-1">
        <div class="container-fluid d-flex justify-content-between">
            <!-- Navbar Brand -->
            <span class="navbar-brand text-white bg-info h1" style="font-weight:bold;">Wagemaster Online</span>
    
            <!-- Centered Text -->
            <span class="navbar-text text-white bg-info h5 my-auto" style="font-weight:bold;">Administrator Dashboard - User Groups</span>
            
            <!-- Logout Button -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-danger" type="button" href="{% url 'administrator_dashboard' %}">Main Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" style="max-height: 90vh; overflow-y: auto;">
        <div class="row my-custom-row" >
            <!-- First Column for Listing Existing User Groups -->
            <div class="col-md-4">
                <div style = "margin-top: 20px; font-weight:bold;">
                    <h7>Existing User Groups</h7>
                </div>
                <div class="overflow-auto p-3 bg-light" style="max-width: 100%; max-height: 80vh;">
                    <div class="list-group">
                        {% for group in existing_groups %}
                            <label class="list-group-item">
                                <div style = "margin-right: 5px;">
                                    <input type="radio" name="selected_group" value="{{ group.id }}" onclick="selectGroup('{{ group.id }}')">
                                    {{ group.name }}
                                </div>
                            </label>
                        {% empty %}
                            <p>No user groups available.</p>
                        {% endfor %}
                    </div>
                </div>    
            </div>  
               
            <!-- Second Column for ClientGroups -->
            <div class="col-md-5">
                <div style = "margin-top: 20px; font-weight:bold;">
                    <h7>Create New User Group</h7>
                </div>    
                <form method="post">
                    {% csrf_token %}
                    <!-- Display form errors -->
                    {% if form.errors %}
                        <div id="error-messages" class="alert alert-danger" style="display: block;">
                            {{ form.errors }}
                        </div>
                    {% endif %} 
                    <!-- End Display form errors -->
                    <!-- Add a hidden input field inside your form to deal with edits-->
                    <input type="hidden" id="id_group_id" name="group_id" value="">
                    <div class="overflow-auto p-3 bg-light" style="max-width: 100%; max-height: 5%px;">
                        <!-- Group name -->
                        <div class="form-group row">
                            <label for="id_name" class="col-sm-3 col-form-label">
                                Group Name:
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Required" id="id_name" name="{{ form.name.name }}" value="{{ name }}" required minlength="3" maxlength="100" style="height: 30px; margin-top:5px;">
                            </div>
                        </div>
                    
                        <!-- User Type Dropdown -->
                        <div class="form-group row">
                            <label for="id_user_type" class="col-sm-3 col-form-label">
                                For User Type:
                            </label>
                            <div class="col-sm-7">
                                <select class="dropdown" id="id_user_type" name="{{ form.user_type.name }}" style="height: 30px; margin-top:5px;">
                                    {% for choice in form.user_type.field.choices %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Default Checkbox -->
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-7">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="id_default" name="{{ form.default.name }}" style="margin-top: 10px;">
                                    <label class="form-check-label" for="id_default" style="margin-top: 5px;">
                                        Default For New User
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div style = "font-weight:bold;">
                        <h7>Permissions</h7>
                    </div>  
                    <div class="overflow-auto p-3 bg-light" style="max-width: 100%; max-height: 45vh; margin-bottom: 10px ;">
                        <div class="permissions-container mb-3" >
                             <!-- Loop through permissions fields  -->
                             {% for field in form.permissions %}
                                <div class="form-check">
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                             {% endfor %}
                             
                        </div>
                    </div>    
                    <!-- Add this button inside your form -->
                    <button type="button" class="btn btn-secondary" onclick="clearForm()">New Group</button>

                    <button type="submit" class="btn btn-primary">Save Group</button>
                    <button type="button" class="btn btn-danger" id="deleteGroupBtn">Delete Group</button>
                </form>  
            </div>
            <!-- Third Column for Client Groups -->
            <div class="col-md-3" id="client-groups-column">
                <div style="margin-top: 20px; font-weight:bold;">
                    <h7>Client Groups</h7>
                </div>
                <div class="overflow-auto p-3 bg-light" style="max-width: 100%; max-height: 80vh;">
                    {% for field in form.client_groups %}
                        <div class="form-check">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                    {% endfor %}
                </div>
            </div>
         </div>        
    </div> 
    <script>
        function selectGroup(groupId) {
            clearErrors();
            $.ajax({
                url: '/fetch_group_details/',
                type: 'GET',
                data: {'group_id': groupId},
                success: function(response) {
                    // Populate the form with the group's details
                    $('input[type=checkbox]').prop('checked', false);
                    $('#id_group_id').val(groupId);  // Set the group ID for edits
                    $('#id_name').val(response.name);
                    $('#id_user_type').val(response.user_type);
                    $('#id_default').prop('checked', response.default);
    
                    response.permissions.forEach(function(permissionId) {
                        $('#id_permissions_' + (permissionId-1)).prop('checked', true);
                    });
    
                    toggleClientGroupsDisplay(); // Adjust client groups display based on user type
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching group details: " + error);
                }
            });
        }
    
        document.getElementById('deleteGroupBtn').addEventListener('click', function() {
            var selectedGroupId = $('input[name="selected_group"]:checked').val();
            if (selectedGroupId) {
                if (confirm('Are you sure you want to delete this group?')) {
                    $.ajax({
                        url: '/delete_group/',
                        method: 'POST',
                        data: {
                            'group_id': selectedGroupId,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            if (response.status === 'success') {
                                alert('Group deleted successfully.');
                                clearForm();
                                refreshGroupList();
                            } else {
                                alert('Error: ' + response.error);
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error("Error deleting group: " + error);
                        }
                    });
                }
            } else {
                alert('Please select a group to delete.');
            }
        });
    
        function clearForm() {
            $('#id_name').val('');
            $('#id_user_type').val('');
            $('#id_default').prop('checked', false);
            $('input[type=checkbox]').prop('checked', false);
            $('#id_group_id').val('');
            toggleClientGroupsDisplay(); // Reset client groups display on form clear
        }
    
        function refreshGroupList() {
            $.ajax({
                url: '/get_group_list/',
                success: function(response) {
                    var groupList = $('.list-group');
                    groupList.empty();
                    response.groups.forEach(function(group) {
                        groupList.append(
                            '<label class="list-group-item">' +
                            '<input type="radio" name="selected_group" value="' + group.id + '" onclick="selectGroup(\'' + group.id + '\')">' +
                            group.name +
                            '</label>'
                        );
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching group list: " + error);
                }
            });
        }
    
        function clearErrors() {
            const errorContainer = document.getElementById('error-messages');
            if (errorContainer) {
                errorContainer.innerHTML = '';
                errorContainer.style.display = 'none';
            }
        }
    
        function toggleClientGroupsDisplay() {
            var userType = $('#id_user_type').val();
            var clientGroupsColumn = document.getElementById('client-groups-column');
            if (userType === '1') { // Assuming '1' is the value for Administrator
                clientGroupsColumn.style.display = 'block';
            } else {
                clientGroupsColumn.style.display = 'none';
            }
        }
    
        // Set up event listener for user type dropdown change
        document.getElementById('id_user_type').addEventListener('change', toggleClientGroupsDisplay);
    
        // Trigger change event on page load to set the correct display state
        $(document).ready(function() {
            $('#id_user_type').trigger('change');
        });
    </script>
    

</body>
</html>    

