{% extends 'base-leaveAdmin.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Create Client</h2>
  </div>
  <!-- 
  <style>
    /* Override the Bootstrap styling for invalid fields */
    input:not(:focus):invalid {
        border-color: #ced4da; /* default border color */
        box-shadow: none;
    }

    /* Custom style for valid fields */
    input:valid {
        border-color: #28a745; /* green */
    }
  </style>-->

  <!-- Messages -->
  {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    
    <!-- ClientName -->
    <div class="form-group row" style ="margin-bottom: 10px;">
      <label for="id_ClientName" class="col-sm-3 col-form-label">
        Client Name:
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Required" id="id_ClientName" name="{{ form.ClientName.name }}" required minlength="3" maxlength="100" style="height: 40px;">
      </div>
    </div>

    <!-- Username -->
    <div class="form-group row" style ="margin-bottom: 10px;">
      <label for="id_Username" class="col-sm-3 col-form-label">
        Username:
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Required" id="id_Username" name="{{ form.users.name }}" required pattern="^[a-zA-Z0-9._-]{3,}$" title="At least 3 characters and only letters, numbers, dashes, underscores, and periods are allowed." style="height: 40px;">
      </div>
    </div>

    <!-- ClientEmail -->
    <div class="form-group row" style ="margin-bottom: 10px;">
      <label for="id_ClientEmail" class="col-sm-3 col-form-label">
        Client Email:
      </label>
      <div class="col-sm-7">
        <input type="email" class="form-control" placeholder="Required" id="id_ClientEmail" name="{{ form.ClientEmail.name }}" required style="height: 40px;">
      </div>
    </div>

    <!-- ClientTel -->
    <div class="form-group row" style ="margin-bottom: 10px;">
      <label for="id_ClientTel" class="col-sm-3 col-form-label">
        Tel:
      </label>
      <div class="col-sm-7">
        <input type="tel" class="form-control" placeholder="Required" id="id_ClientTel" name="{{ form.ClientTel.name }}" required pattern="^[\d\s+-]+$" title="Only digits, spaces, and + - signs are allowed." style="height: 40px;">
      </div>
    </div>

    <!-- ClientContactPerson -->
    <div class="form-group row" style ="margin-bottom: 10px;">
      <label for="id_ClientContactPerson" class="col-sm-3 col-form-label">
        Contact Person:
      </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Required" id="id_ClientContactPerson" name="{{ form.ClientContactPerson.name }}" required minlength="3" maxlength="100" style="height: 40px;">
      </div>
    </div>

    <!-- ClientGroup Dropdown -->
    <div class="form-group row" style="margin-bottom: 10px;">
      <label for="id_client_group" class="col-sm-3 col-form-label">
        Client Group:
      </label>
      <div class="col-sm-7">
        <select class="form-control" id="id_client_group" name="{{ form.client_group.name }}">
          {% for group in client_groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <div class="text-center" style ="margin: 10px;">
      <button type="submit" class="btn btn-primary btn-sm" style ="margin: 10px;">Create</button>
    </div>  
  </form>

{% endblock %}
