{% extends 'base.html' %}

{% block content %}
   
    <div class="jumbotron">    
        <div>
            <h1 class="display-7">Employee Self Service Setup</h1>
            <p class="lead">Enable your employees to manage leave from their mobile phones</p>
            <p class="lead">Setup the service for your company here</p>

            <!-- Add the links to registration and login -->
            <a href="{% url 'register' %}" class="btn btn-primary">Customer Registration</a>
            <a href="{% url 'login' %}" class="btn btn-success">Login</a>
        </div>    
    </div>    
    
{% endblock %}     