{% extends 'base-leaveAdmin.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>New Subscription</h2>
  </div>
  <form method="post" action="{% url 'subscription_create' %}?selected_company={{ selected_company_id }}">
    {% csrf_token %}
    <input type="hidden" name="selected_company" value="{{ selected_company_id }}">
    <input type="hidden" name="selected_client" value="{{ selected_client_id }}">
    <input type="hidden" name="selected_subscription" value="{{ selected_subscription_id }}">
    <!-- CompanyIdentity combobox -->
    <div class="form-group row">
      <label for="id_CompanyIdentity" class="col-sm-3 col-form-label">
        Company:
      </label>
      <div class="col-sm-7">
        <select class="form-control" id="id_CompanyIdentity" name="{{ form.CompanyIdentity.name }}" disabled>
          <option value="{{ company.CompanyIdentity }}" selected>
            {{ company.CompanyName }}
          </option>
        </select>
      </div>
    </div>
    <!-- SubscriptionStartDate -->
    <div class="form-group row">
      <label for="id_SubscriptionStartDate" class="col-sm-3 col-form-label">
        Subscription Start Date:
      </label>
      <div class="col-sm-7">
        <input type="date" required class="form-control" placeholder="Required" id="id_SubscriptionStartDate" name="{{ form.SubscriptionStartDate.name }}" style="height: 40px;">
      </div>
    </div>
    <!-- SubscriptionEndDate -->
    <div class="form-group row">
      <label for="id_SubscriptionEndDate" class="col-sm-3 col-form-label">
        Subscription End Date:
      </label>
      <div class="col-sm-7">
        <input type="date" required class="form-control" placeholder="Required" id="id_SubscriptionEndDate" name="{{ form.SubscriptionEndDate.name }}" style="height: 40px;">
      </div>
    </div>
    <!-- SubscriptionStatus -->
    <div class="form-group row">
      <label for="id_SubscriptionStatus" class="col-sm-3 col-form-label">
        Subscription Active:
      </label>
      <div class="col-sm-7">
        <select class="form-control" required id="id_SubscriptionStatus" name="{{ form.SubscriptionStatus.name }}">
          <option value="Trial" {% if subscription.SubscriptionStatus == 'Trial' %}selected{% endif %}>Trial</option>
          <option value="Trial Expired" {% if subscription.SubscriptionStatus == 'Trial Expired' %}selected{% endif %}>Trial Expired</option>
          <option value="Live" {% if subscription.SubscriptionStatus == 'Live' %}selected{% endif %}>Live</option>
          <option value="Dunning" {% if subscription.SubscriptionStatus == 'Dunning' %}selected{% endif %}>Dunning</option>
          <option value="Unpaid" {% if subscription.SubscriptionStatus == 'Unpaid' %}selected{% endif %}>Unpaid</option>
          <option value="Future" {% if subscription.SubscriptionStatus == 'Future' %}selected{% endif %}>Future</option>
          <option value="Non renewing" {% if subscription.SubscriptionStatus == 'Non renewing' %}selected{% endif %}>Non renewing</option>
          <option value="Canceled" {% if subscription.SubscriptionStatus == 'Canceled' %}selected{% endif %}>Canceled</option>
          <option value="Expired" {% if subscription.SubscriptionStatus == 'Expired' %}selected{% endif %}>Expired</option>
        </select>
      </div>
    </div>
    <!-- SubscriptionActionDate -->
    <div class="form-group row">
      <label for="id_SubscriptionActionDate" class="col-sm-3 col-form-label">
        Company Action Date:
      </label>
      <div class="col-sm-7">
        <input type="date" required class="form-control" placeholder="Required" id="id_SubscriptionActionDate" name="{{ form.SubscriptionActionDate.name }}" style="height: 40px;">
      </div>
    </div>
    <!-- Maximum_Employees -->
    <div class="form-group row">
      <label for="id_Maximum_Employees" class="col-sm-3 col-form-label">
        Maximum Employees:
      </label>
      <div class="col-sm-7">
        <input type="number" required value=10 class="form-control" placeholder="Required" id="id_Maximum_Employees" name="{{ form.Maximum_Employees.name }}" style="height: 40px;">
      </div>
    </div>
    <!-- SubscriptionKey -->
    <div class="form-group row">
      <label for="id_SubscriptionKey" class="col-sm-3 col-form-label">
        Subscription Key:
      </label>
      <div class="col-sm-7">
        <input type="text" required value="n/a" class="form-control" placeholder="Required" id="id_SubscriptionKey" name="{{ form.SubscriptionKey.name }}" style="height: 40px;">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2" style="margin-top: 20px;">
        <a href="{% url 'administrator_dashboard' %}?selected_client={{ client.ClientIdentity }}&selected_company={{ selected_company_id }}&selected_subscription={{ selected_subscription_id }}" class="btn btn-danger btn-sm">Back</a>
        <button type="submit" class="btn btn-primary btn-sm">Create</button>
      </div>
    </div>
  </form>
{% endblock %}
